#root {
  text-align: center;
}

*,
  *:before,
  *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    cursor: none; 
  }

  body, a, button, input, textarea, select, label {
    cursor: none !important;
  }


.layer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  
}



