#root {
  text-align: center;
}

*,
  *:before,
  *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    cursor: none; 
  }

  body, a, button, input, textarea, select, label {
    cursor: none !important;
  }


section{
  width: 100%;
  margin-left: 40px;
  margin-right: 40px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px; /* space between columns */
}



